main {
  width: 100vw;
  display: grid;
  grid-template-columns: 4fr 6fr;
}
.main-content {
  width: 100%;
  position: relative;
}
.main-header {
  width: 60vw;
  height: 15vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(232, 74, 58, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 18px;
  z-index: 3;
}
.main-header p {
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}
.main-header p span {
  color: #821d17;
  font-weight: 400;
  border-bottom: 1px solid #821d17;
  cursor: pointer;
}
.articles {
  margin-top: 15vh;
}
.articles article {
  padding: 8vh 5vw;
  box-shadow: inset 0px -30px 40px -50px rgba(0, 0, 0, 1);
  z-index: -1;
}
.article-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4vh;
}
.article-title h1 {
  color: white;
  font-size: 2.5vw;
  font-weight: 600;
  text-transform: uppercase;
}
.article-title span {
  color: white;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.article-img {
  width: 50vw;
  height: 25vw;
  margin-bottom: 4vh;
  box-shadow: 0px 40px 100px -60px rgba(0, 0, 0, 1);
  position: relative;
}
.article-img img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
.article-img div {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.1;
  top: 0px;
  background: rgba(0, 0, 0, 0);

  background-image: radial-gradient(rgb(0, 0, 0) 20%, transparent 0),
    radial-gradient(rgb(0, 0, 0) 20%, transparent 0);
  background-position: 0px 0px, 10px 10px;
  background-size: 10px 10px;
}
.article-content {
  color: white;
  padding: 3px 0px;
  line-height: 1.6;
  text-align: justify;
}
.article-footer {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  color: #821d17;
}
.article-footer span:last-child {
  padding-bottom: 8px;
  border-bottom: 2px solid #821d17;
}
