@import './reset.css';
@import './sidebar.css';

body{
  background-color: #F0F0F0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display:grid;
  grid-template-columns: 4fr 6fr;
  width:100vw;
  height: 100vh;
}

main{
  background-color: #E84A3A;
}