@import "./reset.css";
@import "./sidebar.css";
@import "./main.css";
body {
  background-color: #e84a3a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: grid;
  width: 100vw;
  height: 100vh;
  position: relative;
}

main {
  background-color: #e84a3a;
}
